body {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    background-color: #faf9f9;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #FF0000;
    font-size: 50px;
    margin-bottom: 1rem;
}
select, button {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #080808;
    background-color: #bfd3f3;
}

